
#board{
    background:#b3b3cc;
    border:#1000 1 px solid;
    width: 900px;
    height: 540px;
    padding: 50px;
    margin: auto;
}

#board > h1{
    font-size: 500%;
    padding-top: 20px;
    text-align: center;
    background:#b3ecff;
    border:#000 1px solid;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    width: 8em
}


.btn-space {
    margin-right: 20px;
}

.my-button-container{
    padding-top: 100px;
}


.btn-xl {
    min-width: 150px;
    padding: 10px 20px;
    font-size: 50px;
    border-radius: 10px;
}

.curs {
    cursor: pointer;
}