.btn-index {
    font-size: 100px;
    width: 100%;
    margin: 20px;
}

body {
   background-color: LightCyan;
}

.logo {
    font-size: 120px;
    margin: 100px;
}

.mojnav {
    display: inline-block;
}

.btn-mojnav {
    font-size: 70px;
    margin: 5px;
}

.hracia-plocha {
    margin: 5px;
    background-color: white;
    height: 500px;
    width: 1100px;
}

.zoznam-polozka {
    margin: 20px;
}

.top-margin {
    margin-top: 50px;
}

.btn-zoznam {
    padding: 10px 50px 10px 50px;
}

.tabulka {
    background-color: white;
    font-size: 20px;
}

.tabulka-nadpis{
    font-size: 25px;
    font-weight: bold;
    color: black;
}

.modal-xl {
    min-width: 800px;
    width: 90%;
    max-width:1200px;
}

p.modal-text{
    font-size: 300%;
}

h1.modal-h{
    font-size: 200%;
}