#board > div#blob{
    border-radius: 40px;
    background:#b3ecff;
    width: 60px;    
    height: 60px;
    border:#000 1px solid;
    cursor: pointer;
    position: relative;
    top: 100px;
    left: 500px;

}